[Unit]
Description=Periodically check 212-bot/combot/bot-deployer for updates

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=bot-deployer-update.service

[Install]
WantedBy=timers.target
